 {% extends "layout.html" %}
 {% block content %}
 <div class='row'>
     <div class="col-md-12">
        <div class="card">
            <div class="card-header mb-5">
                 <h5 class="card-category">By Province in Indonesia</h5>
                 <h3 class="card-title">Data covid</h3>
            </div>
            <div class="card-body">
                <canvas id="barPlot" width="200" height="100"></canvas>
                <label>Source: Wikipedia Covid Indonesia ({{update}})</label>
            </div>
        </div>
    </div>
 {% endblock content %}