{% extends "layout.html" %}
{% block content %}
<div class='row'>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header mb-5">
                <h5 class="card-category">Average of New Cases</h5>
                <h3 id='judul' class="card-title">Indonesia</h3>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="negara">Select Country :</label>
                </div>
                <select class="select" id="negara" name="negara">
                    {% for negara in country %}
                    {% if negara=='Indonesia'%}
                    <option value="{{negara}}" selected>{{negara}}</button>
                    {%else%}
                    <option value="{{negara}}">{{negara}}</button>
                    {%endif%}
                        {% endfor%}
                </select>
            </div>
            <div class="card-body">
                <canvas id="linePlot"></canvas>
                <label>SOURCE: World Health Organization ({{update}})</label>
            </div>
       </div>
    </div>
</div>
{% endblock content %}